<!DOCTYPE html>
<html>
<head>
  <title>Emit</title>
  <%= stylesheet_link_tag    "app", :media => "all" %>
  <%= javascript_include_tag "app" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
